<% include ./partials/header.ejs %>
<style>
    body {
        background-color: #4b9dd3;
        font-family: 'Arial';
        padding: 30pt;
    }
    a {
        color: #ffffff;
        margin-left: 20pt;
    }
    a:hover{
        color: #12406a;
    }
</style>
<h1 align="center">WELCOME TO LBK site!</h1>

<p align="center" style="margin-bottom: 5cm">Website Resmi LBK</p>

<table align="center">
    <tr>
        <td>
            <a href="./student/login">Apakah anda Mahasiswa?</a>
        </td>
        <td>
            <a href="./psychologist/login">Apakah anda Psikolog?</a>
        </td>
    </tr>

</table>
<div align="center" style="margin-top: 3cm">
    <a href="./about">About Us</a>
</div>

<% include ./partials/footer.ejs %>