<% include ./partials/header.ejs %>
<style>
    body {
        background-color: #4b9dd3;
        font-family: 'Arial';
        padding: 30pt;
    }
    form {
        background-color: #12406a;
        padding: 20pt;
        width: 15cm;
    }
    label {
        color : #ffffff;
    }
    div {
        margin-bottom: 30px;
    }
    input[type="text"] {
        width: 10cm;
    }
    input[type="password"]{
        width: 10cm;
    }
    input:hover {
        border-color: #4b9dd3;
        border-width: 2px;
    }
    a {
        color: #ffffff;
        margin-left: 20pt;
    }
    a:hover{
        color: #4b9dd3;
    }
</style>
<h1>Login Psikolog</h1>
<form action="/psychologist/login" method="post">
    <label>Username</label>
    <div><input name="username" type="text"></div>
    <label>Password</label>
    <div><input name="password" type="password"></div>
    <div>
        <input type="submit">
        <a href="register">Registrasi</a>;
    </div>
</form>

<% include ./partials/footer.ejs %>