<% include ./partials/header.ejs %>

<form action="/psychologist/login" method="post">
    <input name="username" type="text">
    <input name="password" type="password">
    <input type="submit">
</form>

<% include ./partials/footer.ejs %>