<% include ./partials/header.ejs %>
<style>
    body {
        background-color: #4b9dd3;
        font-family: 'Arial';
        padding: 30pt;
    }
    a {
        color: #ffffff;
        margin-left: 20pt;
    }
    a:hover{
        color: #12406a;
    }
    th {
        background-color: #12406a;
        color: #ffffff;
        font-size: 20pt;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
    }
    table {
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
    }
    td {
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        background-color: #33363b;
        color: #ffffff;
    }
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
    input[type="text"] {
        width: 7cm;
    }
    input[type="text"]:hover { 
        border-color: #4b9dd3;
        border-width: 2px;
    }
    input[type="submit"] {
        width: 2cm;
    }
    input[type="submit"]:hover {
        border-color: #4b9dd3;
        border-width: 2px;
    }
</style>
<h1 align="center" style="margin-bottom: 2cm">Jadwal psikolog</h1>
<table class="table" align="center">
    <tr>
        <th>Waktu mulai</th>
        <th>Waktu berakhir</th>
    </tr>
    <% psychologist.schedule.forEach(function (s){ %>
        <tr>
            <td>
                <%=s.start%>
            </td>
            <td>
                <%=s.end%>
            </td>
        </tr>
        <% }) %>
</table>
<br>
<br>
<h1 align="center" style="margin-bottom: 2cm">Tambah Jadwal</h1>
<form action="/schedule/" method="post">
    <div class="form-group">
        <input id="startTime" width="312" name="startTime" required />
        <script>
            $('#startTime').datetimepicker({ footer: true, modal: true });
        </script>
    </div>
    <div class="form-group">
        <input id="endTime" width="312" name="endTime" required />
        <script>
            $('#endTime').datetimepicker({ footer: true, modal: true });
        </script>
    </div>
    <input type="submit">
</form>

<br>
<br>
<form action="/schedule/requests" method="get">
    <input type="submit" name="back" value="Back" style="width:100%">
 </forms>

<% include ./partials/footer.ejs %>